<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="logo">
        <img src="./assets/images//logo.png" alt="logo">
      </div>
      <ul class="nav-list d-flex">
        <li class="nav-listitem fz-20"><a href="#">系列鏡框</a></li>
        <li class="nav-listitem fz-20"><a href="#">門市據點</a></li>
        <li class="nav-listitem fz-20"><a href="#">部落格</a></li>
        <li class="nav-listitem fz-20"><a href="#">常見問題</a></li>
      </ul>
    </div>
  </header>

  <%- contents %>

    <footer class="footer" style="margin-top:200px">
      <div class="container">
        <div class="d-flex justify-content-between">
          <ul class="sub-nav d-flex">
            <li><a href="#">首頁</a></li>
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
          </ul>
          <div class="social-btn d-flex">
            <a href="#"><img src="./assets/images/ic-social-fb.png" alt="FaceBook"></a>
            <a href="#"><img src="./assets/images/ic_social_ig.png" alt="Instgram"></a>
            <a href="#"><img src="./assets/images/ic_social_line.png" alt="Line"></a>
          </div>
        </div>
      </div>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>