.banner {
    height: 787px;
    background-image: url('../images/home-header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include pad {
        background-image: url('../images/home-header-sm.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    @include phone {
        height: 396px;
    }

    .container {
        position: relative;
    }

    .banner-content {
        position: absolute;
        top: 296px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include phone {
            top: 144px;
            right: 24px;
        }

        span:nth-child(1) {
            font-size: $indent * 4.5;
            color: $secondary-color;

            @include phone {
                font-size: $indent * 2;
            }
        }

        span:nth-child(2) {
            font-size: $indent * 8;
            color: $secondary-color;
            font-weight: bold;

            @include phone {
                font-size: $indent * 3;
            }
        }

        input {
            font-size: $indent * 2.5;
            font-weight: bold;
            color: #FFFFFF;
            background-color: $primary-color;
            padding: 6px 12px;
            border: none;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.slogan {
    padding: 80px 0;
    background-color: #FBF2F2;

    .slogan-list {
        gap: 24px;

        @include pad {
            flex-wrap: wrap;
            gap: 60px 24px;
            margin-top: 32px;
        }

        @include phone {
            flex-direction: column;
        }
    }

    li {
        width: 25%;

        img {
            width: 48px;
            margin: 0 auto;
            margin-bottom: $indent * 3;
        }

        h3 {
            margin-bottom: $indent;
            font-size: $indent * 3;
            color: $secondary-color;
            font-weight: bold;
            text-align: center;
        }

        @include pad {
            flex: 1 0 45%
        }

        @include phone {
            width: 100%;
            text-align: center;
        }
    }
}

.title {
    font-size: $indent * 6;
    font-weight: bold;
    color: $secondary-color;
    text-align: center;

    @include phone {
        font-size: $indent * 3;
    }
}

.classic-glasses {
    padding: 80px 0;

    .classic-list {
        gap: 24px;
        margin-top: $indent * 6;

        @include pad {
            flex-direction: column;
            align-items: center;

            li {
                width: 336px;
            }
        }

        @include phone {
            li {
                width: 100%;
                margin: 0 auto;
            }
        }

        p {
            text-align: center;
            font-size: $indent * 6;
            color: $primary-color;
            font-weight: bold;
            font-style: italic;
        }
    }
}

.joint-design {
    padding: 80px 0;
    background-image: url('../images/index-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .joint-list {
        margin-top: 48px;

        @include pad {
            flex-direction: column;
            gap: 24px;
        }
    }

    .title {
        color: #ffffff;
    }

    p {
        text-align: center;
        font-size: $indent * 6;
        color: $primary-color;
        font-weight: bold;
        font-style: italic;
        background-color: #ffffff;
        padding: 8px 0;
    }
}

.customer-recommend {
    padding: 80px 0;

    .recommend-list {
        margin-top: 48px;
        gap: 24px;

        @include pad {
            flex-wrap: wrap;
        }
        @include phone {
            gap: 16px;
        }
        li {
            gap: 48px;

            @include pad {
                width: calc(50% - 12px);
            }
            @include phone{
                width: 100%;
            }
        }
        .staff-name {
            margin: 8px 0;
            font-weight: 500;
        }

        .date {
            font-size: 14px;
            color: #707070;
        }
    }
}