.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content:center;
}
.justify-content-between{
    justify-content:space-between;
}
.align-items-center{
    align-items:center
}
.flex-column{
    flex-direction: column;
}

.fz-20{
    font-size: $indent * 2.5;
}   